{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Premios app: {% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'polls/reset.css' %}">
	<link rel="stylesheet" href="{% static 'polls/styles.css' %}">
	<link rel="stylesheet" href="{% static 'polls/detail.css' %}">
</head>
<body>
	{% block content %}
	{% endblock content %}	
	<footer>
		<a>Platzi</a>
		<a>¿Quieres se profesor?</a>
		<a>Sobre nosotros</a>
	</footer>
</body>
</html>